body {background-color: darkgoldenrod;}
h1 {text-align: center;color: black;font-size: 250%;font-style: oblique;}
h2 {text-align: center;color: black;font-size: 200%;}
#ima1 {width: 47%;margin-left: 5%;}
h3 {text-align: center;font-size: 200%;font-style: oblique;}